@model MvcOnlineCommerceAutomation.Models.Classes.Product
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Urun Sayfası</h2>
<br />
<form class="form-group" method="post"></form>


