
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.6.3.js"></script>
<br />
<button class="btn btn-primary" id="Btn1">Buton1</button>
<button class="btn btn-warning" id="Btn2">buton2</button>

<script>
    $('#Btn1').click(function () {
        swal("Hello world!");
    });
</script>
<script>
    $('#Btn2').click(function() {
        swal("Hello world!");
    });
</script>
