@using MvcOnlineCommerceAutomation.Models.Classes
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <td>Personel</td>
        <td>Alıcı</td>
        <td>Tarih</td>
        <td>Detaylar</td>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td> @k.Alici</td>
            <td> @k.Tarih</td>
            <td><a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-default" style="background-color:aquamarine;color:black">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Kargo/YeniKargo" class="btn btn-info">Yeni Kargo Girişi</a>


