@using MvcOnlineCommerceAutomation.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <td>ID</td>
        <td>Kategori Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.CategoryId
            </td>
            <td>
                @k.CategoryName
            </td>
            <td><a href="/Category/KategoriSil/@k.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/KategoriGetir/@k.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Category/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>

