
@using MvcOnlineCommerceAutomation.Models.Classes
@model List<KargoTakip>

@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}


<br />
<table class="table table-striped">
    <tr>
        <th>No</th>
        <th>Açıklama</th>
        <th>tarih</th>
    </tr>
    @{
        int a = 1;


        foreach (var i in Model)
        {
            <tr>
                <td>@a</td>
                <td>@i.Aciklama</td>
                <td>@i.TarihZaman</td>
            </tr>
            a = a+1;
        }
    }

</table>

